<!DOCTYPE html>
<html lang="en">

{include file="public/header" /}

<body>

    {include file="public/top" /}

    <div class="container-fluid">
        <div class="row">
            
            {include file="public/left_menus" /}
            
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                                       
                    <form id="selector" method="post" action="/admin_save.html">
                   
                        <h2 class="sub-header">管理员编辑</h2>
                        
                        <p align="center">管理员:{$admin_info.username}</p>

                        <div class="row placeholders">
                            
                            <div class="col-xs-6 colsm-3 placeholder">
                                <input type="password" placeholder="密码" name="password" id="password"><br/><br/>
                                {if condition="$admin_info.gid==1"}
                                管理员等级：
                                    <select name="gid">
                                        {volist name="group" id="vo" key="k"}
                                            <option value="{$vo.gid}" {if condition="$vo.gid==$admin_info.gid"}selected{/if}>{$vo.gid}</option>
                                        {/volist}
                                    </select>
                                {/if}
                                <input type="hidden"name="uid" value="{$admin_info.uid}"> 
                                <input type="hidden"name="username" value="{$admin_info.username}"> 
                                
                            </div>
                            
                            <div clss="col-xs-6 colsm-3 placeholder">
                                <button type="submit" class="btn btn-default" aria-label="Left Align" id="commit" >
                                    保存修改
                                </button>
                            </div> 
                        </div>
                                              
                        <!-- endif tbl -->

                    </form>
            </div>        
            <!-- endif form -->
        </div>
    </div>
    <!-- Bootstrap core JavaScript==================================================- ->
    <!-- Placed at the end of the document so the pages load faster -->

    {include file="public/public_js" /}
<script>
    $('#commit').click(function(){
       
        $('#selector').submit();
       
    }) 
</script>
</body>
</html>