<!DOCTYPE html>
<html lang="en">

{include file="public/header" /}

<body>

    {include file="public/top" /}

    <div class="container-fluid">
        <div class="row">
            
            {include file="public/left_menus" /}
            
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                                       
                    <form id="selector" method="get" action="">
                  
                    <h2 class="sub-header">查询条件</h2>

                        <div class="row placeholders">
                                                                     
                                <div class="col-xs-6 col-sm-3">
                                    <input type="text" placeholder="玩家UID" name="uid" value="{$Think.get.uid}" id='uid' style="width:110px;"><br/> 
                                    <input type="text" placeholder="昵称" name="username" value="{$Think.get.username}" id='username' style="width:110px;"><br/>
                                </div>
                                                
                            <div class="col-xs-6 colsm-3 placeholder">
                                <div class="input-daterange input-group" id="datepicker">
                                    <span class="input-group-addon">注册起始：</span>
                                    <input type="text" class="input-sm form-control" name="date_begin" id="date_begin" value="{$Think.get.date_begin}">
                                    <span class="input-group-addon">注册结束：</span>
                                    <input type="text" class="input-sm form-control" name="date_end" id="date_end" value="{$Think.get.date_end}">
                                </div>
                            </div>
                            
                            <!-- <input type="hidden" name="act" value="search"> -->

                            <div clss="col-xs-6 colsm-3 placeholder">
                                <button type="submit" class="btn btn-default" aria-label="Left Align" id="commit" >
                                    查询
                                </button>
                            </div> 

                        </div>
                    

                    
                    <h2 class="sub-header">管理员列表</h2>
 
                    <h6>
                    <!-- <a href="/excel_demo" style="color:blue;">导出</a> -->
                        <div clss="col-xs-6 colsm-3 placeholder">
                            <button type="button" class="btn btn-default" aria-label="Left Align" id="daochu" >
                                导出
                            </button>
                        </div> 
                    </h6>
     
                    <div class="table-responsive">
                        <table class="table table-striped">
                            
                            <thead>
                                <tr>
                                    
                                    <th>序号</th>
                                    
                                    <th>代理UID</th>
                                    
                                    <th>玩家UID</th>
                                    
                                    <th>微信unionid</th>
                                    
                                    <th>下载ip</th>
                                                                                                       
                                    <th>呢称</th>
                                    
                                    <th>房卡</th>
                                    
                                    <th>总充值房卡</th>
                                    
                                    <th>推广绑定时间</th>
                                    
                                    <th>注册时间</th>
                                    
                                </tr>
                            </thead>
                        
                            <tbody>
                                {volist name="all_wx_tg_info" id="vo" key="k"}
                                <tr>
                                                                       
                                    <td>{$k}</td>
                                    
                                    <td>{$vo.agency_id}</td>
                                    
                                    <td>{$vo.uid}</td>
                                    
                                    <td>{$vo.unionid}</td>
                                                                                                                                                               
                                    <td>{$vo.reg_ip}</td>
                                                                                                        
                                    <td>{$vo.username}</td>
                                    
                                    <td>{$vo.dimond}</td>
                                    
                                    <td>{$vo.sum_dimond}</td>
                                    
                                    <td>{php}if (!empty($vo['action_time'])) echo date('Y-m-d H:i:s',$vo['action_time']) {/php}</td>
                                    
                                    <td>{php}if (!empty($vo['register_time'])) echo date('Y-m-d H:i:s',$vo['register_time']) {/php}</td>
                                                                       
                                </tr>
                                {/volist}          

                                                                                                                                                                                                                                   
                            </tbody>
                        </table>
                    </div>

                    <div class="pager">
                        {$page}
                    </div>
                                                         
                     <!-- endif tbl -->

                </form>
            </div>
            <!-- endif form -->
        </div>
    </div>
    <!-- Bootstrap core JavaScript==================================================- ->
    <!-- Placed at the end of the document so the pages load faster -->

    {include file="public/public_js" /}

    <script>
    	$(document).ready(function() {
          
            $('.input-daterange').datepicker({
                language: "zh-CN",
                endDate: "+0d",
                startDate: "-2y",
                autoclose: true,
                todayHighlight: true,
                todayBtn: "linked",
                format: "yyyy-mm-dd",
            })
                       
        })

        $('#daochu').click(function(){
            var uid = $('#uid').val();
            var username = $('#username').val();
            var date_begin = $('#date_begin').val();
            var date_end = $('#date_end').val();
            var url = '/userlist_down_excel?uid='+uid+'&username='+username+'&date_begin='+date_begin+'&date_end='+date_end;
            window.location.href = url; 
        })
	</script>
</body>
</html>