<!DOCTYPE html>
<html lang="en">

{include file="public/header" /}

<body>

    {include file="public/top" /}

    <div class="container-fluid">
        <div class="row">
            
            {include file="public/left_menus" /}
            
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                                       
                    <form id="selector" method="get" action="">
                  
                    <h2 class="sub-header">查询条件</h2>

                        <div class="row placeholders">
                                                                     
                            <div class="col-xs-6 col-sm-3">
                                <input type="text" placeholder="玩家UID" name="uid" value="{$Think.get.uid}" id='uid' style="width:110px;"><br/> 
                                <input type="text" placeholder="处理人" name="handler" value="{$Think.get.handler}" id='handler' style="width:110px;"><br/>
                            </div>
                                                
                            <div class="col-xs-6 colsm-3 placeholder">
                                <div class="input-daterange input-group" id="datepicker">
                                    <span class="input-group-addon">创建起始：</span>
                                    <input type="text" class="input-sm form-control" name="date_begin" id="date_begin" value="{$Think.get.date_begin}">
                                    <span class="input-group-addon">创建结束：</span>
                                    <input type="text" class="input-sm form-control" name="date_end" id="date_end" value="{$Think.get.date_end}">
                                </div>
                            </div>
                            
                            <div clss="col-xs-6 colsm-3 placeholder">
                                <button type="submit" class="btn btn-default" aria-label="Left Align" id="commit" >
                                    查询
                                </button>
                            </div> 

                        </div>
                    

                    
                    <h2 class="sub-header">玩家反馈</h2>
                    

                    <h6>
                        <div clss="col-xs-6 colsm-3 placeholder">
                            <button type="button" class="btn btn-default" aria-label="Left Align" id="daochu" >
                                导出
                            </button>
                        </div> 
                    </h6>
     
                    <div class="table-responsive">
                        <table class="table table-striped">
                            
                            <thead>
                                <tr>
                                    
                                    <th>序号</th>
                                    
                                    <th>玩家UID</th>
                                    
                                    <th>联系方式</th>
                                    
                                    <th>状态</th>
                                    
                                    <th>内容</th>
                                    
                                    <th>截图</th>
                                   
                                    <th>回复</th>
                                   
                                    <th>处理人</th>
                                                                                                       
                                    <th>创建时间</th>                                                                    
                                    
                                    <th>更新时间</th>                                                                    
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                {volist name="all_info" id="vo" key="k"}
                                <tr>
                                                                       
                                    <td>{$k}</td>
                                    
                                    <td>{$vo.uid}</td>
                                    
                                    <td>{$vo.contact_way}</td>
                                    
                                    <td>{$vo.status==1 ? '已回复' : '未回复'}</td>
                                                                                                                                                                                                                                                                                                                              
                                    <td>{$vo.content}</td>

                                    <td>
                                        {php}   
                                            
                                            if($vo['upload_img']!='0' && !is_null($vo['upload_img'])){
                                                
                                                $num = strpos($vo['upload_img'],'|');
                                                
                                                if($num){
                                                    
                                                    $res = explode('|',$vo['upload_img']);

                                                    foreach($res as $k => $v){                                                                                                    
                                                    
                                                        echo "<img src='__PUBLIC__$v' style='width:100px;height:50px;' class='show_big'>";

                                                        echo "<input type='hidden' value='__PUBLIC__$v' />";

                                                    }
                                                    
                                                }else{
                                                    
                                                    $upload_img = $vo['upload_img'];
                                                    
                                                    echo "<img src='__PUBLIC__$upload_img' style='width:100px;height:50px;' class='show_big'>";

                                                    echo "<input type='hidden' value='__PUBLIC__$upload_img' />";

                                                }
                                                
                                            }else{

                                                echo '无截图';

                                            }
                                                                                                                                                                                    
                                        {/php}
                                    </td>
                                   
                                    <td>{$vo.call_back}</td>
                                   
                                    <td>{$vo.handler}</td>
                                                                                                         
                                    <td>{php}if (!empty($vo['create_time'])) echo date('Y-m-d H:i:s',$vo['create_time']) {/php}</td>
                                   
                                    <td>{php}if (!empty($vo['update_time'])) echo date('Y-m-d H:i:s',$vo['update_time']) {/php}</td>
                                                                      
                                </tr>
                                {/volist}                                                                                                                                         
                                                                                                                                                                                                                                   
                            </tbody>
                        </table>
                    </div>

                    <div class="pager">
                        {$page}
                    </div>
                                                         
                     <!-- endif tbl -->

                </form>
            </div>
            <!-- endif form -->
        </div>
        <div id="light" class="white_content" style="display:none;">
            <p align="center">截图放大</p>
            <img src="" id='big_img' style="display:block;margin:0 auto;" />
            <br />
            <p align="center">
                <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">点这里关闭本窗口</a>
            </p>        
        </div> 
        <div id="fade" class="black_overlay" style="display:none;"></div>
    </div>
    <!-- Bootstrap core JavaScript==================================================- ->
    <!-- Placed at the end of the document so the pages load faster -->

    {include file="public/public_js" /}

    <script>
    	$(document).ready(function() {
          
            $('.input-daterange').datepicker({
                language: "zh-CN",
                endDate: "+0d",
                startDate: "-2y",
                autoclose: true,
                todayHighlight: true,
                todayBtn: "linked",
                format: "yyyy-mm-dd",
            })
                                                         
        })

        $('#daochu').click(function(){
            var uid = $('#uid').val();
            var handler = $('#handler').val();
            var date_begin = $('#date_begin').val();
            var date_end = $('#date_end').val();
            var url = '/user_complain_down_excel?uid='+uid+'&handler='+handler+'&date_begin='+date_begin+'&date_end='+date_end;
            window.location.href = url; 
        })

        $('.show_big').click(function(){
            
            var show_img_src = $(this).next().val();

            $('#light').css({
                
                'display':'block',
                'position': 'absolute', 
                'top': '25%', 
                'left': '25%', 
                'width': '55%', 
                'height': '55%', 
                'padding': '20px', 
                'border': '10px solid orange', 
                'background-color': 'white', 
                'z-index':'1002', 
                'overflow': 'auto',

            });

            $('#fade').css({

                'display':'block',                               
                'position': 'absolute', 
                'top': '0%', 
                'left': '0%', 
                'width': '100%', 
                'height': '100%', 
                'background-color': 'black', 
                'z-index':'1001', 
                '-moz-opacity': '0.8', 
                'opacity':'.80', 
                'filter': 'alpha(opacity=88)', 
               
            });

            $('#big_img').attr('src',show_img_src);
            //console.log(show_img_src);
        })
	</script>
</body>
</html>