<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="cxdfeader">
        <!-- <link rel="icon" href=""> -->
        <title>代理后台</title>
        <!-- Bootstrap core CSS -->
        <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <link href="__PUBLIC__/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="__PUBLIC__/css/login.css" rel="stylesheet">
        <link href="__PUBLIC__/css/bootstrap-datepicker3.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
  
    <body>
        <div class="container">
            <form method="post" class="form-signin" action="/agency_sign_up.html">
                <h2 class="form-signin-heading">代理后台</h2>
                
                <input id="inputEmail" name="uid" class="form-control" placeholder="用户名" autofocus="" value="hg0001">
                <input type="password" name="password" class="form-control" placeholder="密码" value="123456">
                <input type="hidden" name="did" value="{$did}">
                <input name="checkcode" class="form-control" placeholder="验证码" id='checkcode'>

                <div class='img_checkcode'>                  
                    <img src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'"/>
                </div>
                
                <div style="height:10px;"></div>
                <!-- <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember">记住我
                    </label>
                </div> -->

                <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
            </form>
        </div>

    <!-- /container -->
    <!-- Bootstrap core JavaScript==================================================- ->
    <!-- Placed at the end of the document so the pages load faster -->

        <script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
        <script src="__PUBLIC__/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/js/moment.js"></script>
        <script src="__PUBLIC__/js/bootstrap-datepicker.min.js"></script>
        <script src="__PUBLIC__/js/bootstrap-datepicker.zh-CN.min.js"></script>
    </body>

</html>